1. What does one need to do to use a module?
<br>
_Import it_

2. Name a Module (not the DateTime Nodule) we looked at and write a line or 2 of code as an example using this module.
<br>
_Math_
<br>
math.ceil(32.5)
<br>
print(math.ceil(32.5))
<br>

3. What is a benefit of using Exception handling?
<br>
_Exeception handling manages errors and streamlines the debugging process. Moreover, it helps to write more reliable and maintainable code._

4. What are the 4 components used for Python Exception Handling?
<br>
- _The try block lets you test a block of code for errors._
<br>
- _The except block lets you handle the error._
<br>
- _The else block lets you execute code when there is no error._
<br>
- _The finally block lets you execute code, regardless of the result of the try- and except blocks._
<br>
5. NumPy arrays are like what Python data type?
<br>
_An enhanced version of lists; NumPy arrays offer more capabilities than lists._

6. What is one of the main benefits of using NumPy arrays.
<br>
_NumPy arrays can perform operations with less memory and better performance, thus leading to simpler/better code._

7. What is one of the main requirements about the 'dtype' of NumPy arrays?
<br>
_They must all be the same data type. Must be homogeneous._

8. Of the 10 uses of NumPy, name 2.
<br>
    1. _Numerical Computing_
    2. _Data Analysis and Manipulation_
<br>
<br>

9. Name one of the other libraries we'll use with NumPy?
<br>
_Pandas_
<br>

10. What is the shape of NumPy arrays?
<br>
_The shape is a tuple of non-negative integers that specify the dimensions, length and size of each array (3,2,4)._

11. What is a Tensor?
<br>
_A tensor is an array with 3+ dimensions_

12. Name a reason why it's better using NumPy for Data Analysis than using a Python List?
<br>
_We use Python NumPy array instead of a list because of the below three reasons:_

    _1. Less Memory - NumPy arrays occupy less memory as compared to lists_
    <br>
    _2. Fast - NumPy arrays are faster compared to lists_
    <br>
    _3. Convenient - it is convenient to work with NumPy_
    <br>
    <br>
_Biggest difference between Python lists and NumPy arrays:- NumPy array elements are homogeneous -- of the same or a similar kind or nature._
<br>

13. When creating an "empty" array, where do the elements come from?
<br>
_Empty will fill in values based on memory._

# Flow Control Methods

1. Create an if statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."

In [30]:
# Get input for age
age = int(input("Enter age: "))  

if age >= 25:
    print("Renting a car is more affordable")
else:
    print("Renting a car is very expensive.")

Renting a car is more affordable

2. Create and chain an if-else statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable." If 'age' is less than 25 but greater than or equal to 18, print "Renting a car is very expensive." Finally, if age is less than 18, print "You cannot legally rent a car."

In [ ]:
# Get input for age
age = int(input("Enter your age: "))  

if age >= 25:
    print("Renting a car is more affordable.")
elif age >= 18:
    print("Renting a car is very expensive.")
else:
    print("You cannot legally rent a car.")

3. Loop over the following string to (1) count all the characters in the string and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"

In [31]:
#Count all the characters in the string
string= "The quick brown fox jumps over the lazy dog"
character_count = len(string)
print("Total characters in the string:", character_count)

#Print out all the vowels
for char in "The quick brown fox jumps over the lazy dog":
    if char in "AEIOUaeiou":
        print(char,end="")
    else:
        continue

Total characters in the string: 43
euioouoeeao

4. Write a nested loop that prints out every piece of clothing from the couture list, in every fashionable color from the panettone set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

In [32]:
couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"]
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

# Nested loop to print every combo of clothing and color
for x in panettone:
    for y in couture:
        print(x,y)

auburn trousers
auburn blouse
auburn bandana
auburn cumber band
auburn blazer
auburn vest
auburn french beret
auburn scarf
auburn stole
Dark Sapphire trousers
Dark Sapphire blouse
Dark Sapphire bandana
Dark Sapphire cumber band
Dark Sapphire blazer
Dark Sapphire vest
Dark Sapphire french beret
Dark Sapphire scarf
Dark Sapphire stole
gunmetal blue trousers
gunmetal blue blouse
gunmetal blue bandana
gunmetal blue cumber band
gunmetal blue blazer
gunmetal blue vest
gunmetal blue french beret
gunmetal blue scarf
gunmetal blue stole
cerise trousers
cerise blouse
cerise bandana
cerise cumber band
cerise blazer
cerise vest
cerise french beret
cerise scarf
cerise stole
fuchsia trousers
fuchsia blouse
fuchsia bandana
fuchsia cumber band
fuchsia blazer
fuchsia vest
fuchsia french beret
fuchsia scarf
fuchsia stole
aqua trousers
aqua blouse
aqua bandana
aqua cumber band
aqua blazer
aqua vest
aqua french beret
aqua scarf
aqua stole
maple trousers
maple blouse
maple bandana
maple cumber band
maple blazer
maple vest
maple french beret
maple scarf
maple stole
burnt sienna trousers
burnt sienna blouse
burnt sienna bandana
burnt sienna cumber band
burnt sienna blazer
burnt sienna vest
burnt sienna french beret
burnt sienna scarf
burnt sienna stole

5. Use range as a loop to calculate the sum of all the numbers from 1 to 100

In [33]:
sum = 0

for x in range(1,101):
    sum += x
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

6. Print the second item in this fruits list. ["apple", "banana", "cherry"]

In [34]:
fruits_list = ["apple", "banana", "cherry"]
print(fruits_list[1])

banana

7. Change the value from "apple" to "kiwi", in the fruits list. ["apple", "banana", "cherry"]

In [35]:
fruits_list = ["apple", "banana", "cherry"]
fruits_list[0] = "kiwi"
print(fruits_list)

['kiwi', 'banana', 'cherry']

8. Use the append method to add "orange" to the fruits list. ["apple", "banana", "cherry"]

In [36]:
fruits_list = ["apple", "banana", "cherry"]
fruits_list.append("orange")
print(fruits_list)

['apple', 'banana', 'cherry', 'orange']

9. Use the insert method to add "lemon" as the second item in the fruits list. ["apple", "banana", "cherry"]

In [38]:
fruits_list = ["apple", "banana", "cherry"]
fruits_list.insert(1, "lemon")
print(fruits_list)

['apple', 'lemon', 'banana', 'cherry']

10. Use the remove method to remove "banana" from the fruits list. ["apple", "banana", "cherry"]

In [40]:
fruits_list = ["apple", "banana", "cherry"]
fruits_list.remove("banana")
print(fruits_list)

['apple', 'cherry']

11. Use negative indexing to print the 3rd and 2nd to last items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [43]:
fruits_list = ["apple", "banana", "cherry"]
print(fruits_list[-3])
print(fruits_list[-2])

apple
banana

12. Use a range of indexes to print the third, fourth, and fifth item in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [46]:
fruits_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits_list[3:6])

['orange', 'kiwi', 'melon']

13. Use the correct syntax to print the number of items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [47]:
fruits_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(len(fruits_list))

7

14. Use the correct syntax to sort this list in reverse order ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [48]:
fruits_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits_list.sort(reverse=True)
print(fruits_list)

['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

### PYTHON
15. Use the DateTime module to get Current Date and Time, and save it to a variable. Then extract just the Full month name form that variable.

In [52]:
import datetime as dt
time = dt.datetime.now()
print(time.month)

8

16. Write a simple function that takes 2 parameters -- a first name and a day name.
- Set a default value for the day name of Sunday.
- Have the function print out a greeting -- using the parameters -- that says something like "Hi first-name! Happy day-name!". Remember to use the variables in the greeting to replace first-name and day-name.
- Invoke this function with 2 variables.
- Invoke this function with 1 variable only.

In [56]:
def greeting(first_name, day_name = "Sunday"):
    print(f"Hola {first_name}! Happy {day_name}!")
    return ""
print(greeting("Diana", "Monday"))
print(greeting("Jose"))

Hola Diana! Happy Monday!

Hola Jose! Happy Sunday!

17. Write a block of code to handle one of the most common Python exception errors. Select one of the common errors from the curriculum section on Python Exception handling. Have your code example uses the try, except, else, and finally components.

In [65]:
def divide(x,y):
    try:
        res = divide(x,y)
        print(res)
    except:
        print("An exception occurred")
    else:
        print("Nothing went wrong")
    finally:
        print("The 'try except' is finished")