# Section 7.1 
## Question 1
```SQL

SELECT ModelYear, Make, Model
FROM EVRegistry

```
## Question 2 
```SQL

SELECT DISTRINCT ElectricVehicleType
FROM EVRegistry

```

## Question 3
```SQL

SELECT ElectricVehicleType
FROM evRegistry
WHERE ElectricVehicleType = 'Battery Electric Vehicle (BEV)'

```
## Question 4 
```SQL

SELECT Make, Model
FROM evRegistry
WHERE BaseMSRP BETWEEN 20000 AND 35000

```
# Section 7.2 
## Question 1 
```SQL

SELECT *
FROM EVRegistry
WHERE City = Null

```
## Question 2 
```SQL

SELECT Make, Model, ElectricVehicleType
FROM evRegistry
WHERE VIN LIKE '%3E1EA1J' 

```
## Question 3 
```SQL

SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange 
FROM evRegistry
WHERE Make = 'TESLA' OR Make = 'CHEVROLET' 
ORDER BY Make, ModelYear DESC

```
## Question 4 
```SQL

SELECT sessionId, COUNT(sessionId)
FROM evCharge
GROUP BY stationId
ORDER BY count(sessionID) DESC
LIMIT 5

```
## Question 5 
```SQL

SELECT userId
	, MIN(ChargeTimeHrs) as minTime
	, MAX(ChargeTimeHrs) as maxTime
FROM evCharge
GROUP BY userId
HAVING SUM(chargeTimeHrs) > 0.5
ORDER BY minTime, maxTime

```
# Section 7.3 
## Question 1
```SQL

SELECT weekday
	, ROUND(sum(chargeTimeHrs), 2) AS chargetime
FROM EVCharging
GROUP BY weekday
ORDER BY chargetime DESC
LIMIT 1

```
## Question 2
```SQL

SELECT userId, ROUND(SUM(kwhTotal),2) as totalPower
FROM EVCharging
GROUP BY userId
ORDER BY totalPower DESC
LIMIT 15

```
## Question 3
```SQL

SELECT typeFacility
	, count(distinct factcharge.stationID) as numStation
FROM dimFacility
INNER JOIN factCharge ON dimFacility.FacilityKey = factCharge.facilityID
GROUP BY typeFacility
ORDER BY numStation DESC

```
## Question 4

_Primary key_ ID's records in our tables. They are like snowflakes in that each is special and unique and cannot be null. _Foriegn key_ refers back to the primary key in another connected table. 

## Question 5
```SQL

SELECT userId
	, MIN(ChargeTimeHrs) as minTime
	, MAX(ChargeTimeHrs) as maxTime
FROM EVCharging
GROUP BY userId
HAVING SUM(chargeTimeHrs) > 1
ORDER BY minTime, maxTime

```